<RadzenStack Style="width:100%">
    @if (ErrorMessage is not null)
    {
        <RadzenAlert AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
            @ErrorMessage
        </RadzenAlert>
    }
    @if (IsSaving)
    {
        <RadzenAlert AlertStyle="AlertStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter">
            Saving dataset...
        </RadzenAlert>
    }
    @if (WorkingCopy is not null)
    {
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Name" title="Name" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenTextBox Disabled=@IsSaving Style="width: 100%;" Name="Name" @bind-Value=@WorkingCopy.DisplayName />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow>
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Purpose" title="Purpose" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDropDown Style="width: 100%;" Data=@purposes @bind-Value="@selectedPurpose" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow>
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Type" title="Type" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDropDown Style="width: 100%;" Data=@types @bind-Value="@selectedType" />
            </RadzenColumn>
        </RadzenRow>
        @if (WorkingCopy.Fields is not null)
        {
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12" SizeMD="4">
                    <span>Name</span>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="4">
                    <span>Expression</span>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="2">
                    <span>Is Subjective?</span>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="1">
                    <RadzenButton ButtonStyle=ButtonStyle.Light Click=@NewField Size="ButtonSize.Small" Text="New Field" />
                </RadzenColumn>
            </RadzenRow>
            foreach (var field in WorkingCopy.Fields)
            {
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenTextBox Style="width: 100%;" @bind-Value=@field.Name />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenTextBox Style="width: 100%;" @bind-Value=@field.Expression />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="2">
                        <RadzenCheckBox @bind-Value=@field.IsSubjective />
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="1">
                        <RadzenButton ButtonStyle=ButtonStyle.Light Click=@(()=>RemoveField(field)) Size="ButtonSize.Small" Text="Remove" />
                    </RadzenColumn>
                </RadzenRow>
            }
        }
        <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
                <RadzenButton Disabled=@IsSaving ButtonStyle="ButtonStyle.Primary" Click=@(async()=>await SaveAsync()) Size="ButtonSize.Large" Icon="save" Text="Save" />
                <RadzenButton Disabled=@IsSaving ButtonStyle=ButtonStyle.Light Click=@Cancel Size="ButtonSize.Large" Text="Cancel" />
            </RadzenStack>
        </RadzenRow>
    }
</RadzenStack>