@if (Value is not null)
{
    <RadzenCard>
        @if (IsEditMode)
        {
            <RadzenStack Orientation="Orientation.Horizontal">
                @if (Keys is not null && Keys.Length > 0)
                {
                    <RadzenDropDown Style="width:150px" Data=@Keys @bind-Value=@Value.Name />
                }
                else
                {
                    <RadzenTextBox Style="width:150px" @bind-Value=@Value.Name />
                }
                <RadzenDropDown Style="width:100px" Data=@comparisons @bind-Value=@selectedComparison />
                <RadzenTextBox Style="width:150px" @bind-Value=@Value.Value />
                <RadzenButton Click=@Save Icon="check" title="apply" />
                <RadzenButton Click=@Close Icon="close" title="close" />
                <RadzenButton Click=@Delete Icon="delete" title="delete" />
            </RadzenStack>
        }
        else
        {
            var sign = Value.Comprison == FilterPanelModelComprisons.Equal ? "==" : "!=";
            <RadzenRow @onclick=@Open>
                <span>@Value.Name @sign @Value.Value</span>
            </RadzenRow>
        }
    </RadzenCard>
}
