<RadzenStack Style="width:100%">
    @if (model is not null)
    {
        <RadzenRow Style="width:100%">
            <RadzenImage Path="@model?.Question" Style="width:90%;height:90%;"></RadzenImage>
        </RadzenRow>
        <RadzenRow Style="width:100%">
            <RadzenCard Style="width:100%">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Answer:</RadzenText>
                <div>@model?.Answer</div>
            </RadzenCard>
        </RadzenRow>
    }
    else
    {
        <p>Loading...</p>
    }
</RadzenStack>
