@inject NavigationManager Navigation;
@inject IJSRuntime JsRuntime;
<RadzenHeader>
    <RadzenRow>
        <RadzenColumn>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <span>&nbsp;&nbsp;</span>
                <h2>>> Experiment Server >></h2>
                <span>&nbsp;&nbsp;</span>
                <RadzenLink Path="/" Text="Projects" Style="display: block;margin-top:10px;" />
                <span>&nbsp;&nbsp;</span>
                <RadzenLink Path="/datasets" Text="| Datasets" Style="display: block;margin-top:10px;" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</RadzenHeader>