<div>
    <h3>@Title</h3>
    <table>
        <thead>
            <tr>
                <td style="width:120px"><h3>Name</h3></td>
                @if (TableModel is not null && TableModel.ColumnNames is not null)
                {
                    foreach (var colName in TableModel.ColumnNames)
                    {
                        <td style="width:600px"><h3>@colName</h3> </td>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @if (TableModel is not null)
            {
                foreach (var row in TableModel.Rows!)
                {
                    <tr>
                        <td><b>@row.Name</b></td>
                        @foreach (var cell in row.Cells!)
                        {
                            <td>@cell.Value</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
